:root {
  --background-color: #f5f3f3dd;
  --light-color: #fff;
  --dark-color: #1d1d1d;

  --footer-color: #84c9ef;
  --push-color: #e3b1d2;
  --menu-color: #b4d2ed;
  --menu-burger-color: #dcb5d4;
  --accents-color: #cbbddd;
}
